<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>new event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles/styles.css" rel="stylesheet" type="text/css" />
    <script src="main.js"></script>
</head>
<body>

        <form action="/events/new" method="POST">
            <input type="text" name="title" id="title" placeholder="title">
            <input type="text" name="image" placeholder="image">
            <input type="describtion" name="describtion" placeholder="describtion">
            <button type="submit">ADD EVENT</button>
        </form>
          
</body>
</html>