<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <h2>NSE</h2>
    <h5>Never Stop Exprloring</h5>

    <h6> <a href="/countries">Explore The World Here</a></h6>

    <!-- <body> -->


        <div class="login">
            <form action="/login" method="POST">
                <input type="text" name="email" id="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit">Log In</button>
            </form>
        </div>
        <br>


        <div class="row">
            <div class="col orange s2 offset-s5">
                <a href="/countries">Checkout as a guest</a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col s4 m6"> -->
                <!-- <div class="card medium #efebe9 brown lighten-5 "> -->
                    <div class="imagesContainer1 row">
                        <div class="col s4"><img class="fp-image" src="images/Screen Shot 2018-12-19 at 12.37.22 PM.png"></div>
                        <div class="col s4"><img class="fp-image" src="images/Screen Shot 2018-12-19 at 12.39.02 PM.png"></div>
                        <div class="col s4"><img class="fp-image" src="images/alula1.jpg"></div>
                        <div class="col s4"><img class="fp-image" src="images/ice.png"></div>
                        <div class="col s4"><img class="fp-image" src="images/sunset.png"></div>
                        <div class="col s4"><img class="fp-image" src="images/india.png"></div>
                    </div>
                <!-- </div> -->
            <!-- </div>
        </div> -->


        </div>
        <script src="/static/main.js"></script>
    </body>

</html>