<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  -->

    <title>Document</title>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
     <link rel='stylesheet' type='text/css' href='/static/style.css'>
</head>
<body>
   <div class="container">
        <div class="row">
                {{#countries}}
                        <div class="col s12 m6 l6 xl6">
                          <div class="card medium #FFFFFF">
                            <div class="card-content black-text">
                                   
                                    
                              <span class="countries">Country Name</span>
                              <div class="card-title">
                                    <a href="/countries/{{id}}">{{name}}</a>
                              </div>
                              
                            <div class="card-image">
                            <img src="{{img_url}}" class = "img-thumbnail" alt="{{name}}">

                            </div>
                    
                            </div>
                            <div class="card-action">
                              <a href="/">Back to Home</a>
                              <a href="/countries/{{id}}">Explore This Country</a>
                            </div>
                          </div>
                        </div>
                        
                        {{/countries}}
                    </div>
        
   </div>
</body>
</html>