<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/styles/styles.css" rel="stylesheet" type="text/css" />
    <script src="main.js"></script>
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->
     <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
</head>
<body>
        <nav class="pull-right nav-collapse collapse">
                <ul id="menu-main" class="nav">
                    <li><a title="team" href="#about">About</a></li>
                    <li><a title="services" href="#services">Services</a></li>
                    <li><a title="works" href="#works">Works</a></li>
                    <li><a title="blog" href="#blog">Blog</a></li>
                    <li><a title="contact" href="#contact">Contact</a></li>
                    <li><a href="page.html">Page</a></li>
                </ul>
            </nav>
    <header>
    <div id="header" class="one">

        <div class="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOCmQCFqjclIYOSVa43WX4OD6nbCrZuDm4wFk_gTVoqM6iRbJT" alt="logo">
        </div>
    </div>
    </header>
  <section class=about>
 <h1><strong>about us</strong></h1>
 <p>
        Volunteers make a huge difference in helping Community Resource Center further its mission. Volunteers are one of our most important resources
</p>
  </section>
<div>
       <h1><a href="/events">Events</a></h1><br>
       <h1><a href="/events/new">Add event</a></h1><br>  
       <h1><a href="/login">Log in </a></h1><br> 
       <h1><a href="/users/new">Sign up </a></h1><br>
       
     </div>

  



<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>


   